In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv('./datasets/freelance-projects.csv')
df = pd.read_csv('./datasets/jd_structured_data.csv')
df.head(3)

,Job Title,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Competitors,Average Salary,Average Revenue,Processed_JD
0,Data Scientist,3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",750.5,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,-1,72.0,75.0,"Data Scientist Location: Albuquerque, Educatio..."
1,Healthcare Data Scientist,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000.0,1984,Other Organization,Health Care Services & Hospitals,Health Care,-1,87.5,3500.0,What You Will Do: General Summary The Healthca...
2,Data Scientist,4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",750.5,2010,Company - Private,Security Services,Business Services,-1,85.0,300.0,"KnowBe4, Inc. high growth information security..."

In [29]:
input_words = ["KnowBe4"]

stop_words = set(stopwords.words('english'))
input_words = [word.lower() for word in input_words if word.lower() not in stop_words]

In [30]:
processed_job_descriptions = [" ".join([word.lower() for word in word_tokenize(desc) if word.lower() not in stop_words]) for desc in df['Processed_JD']]

In [31]:
vectorizer = TfidfVectorizer()
job_vectors = vectorizer.fit_transform(processed_job_descriptions)
input_vector = vectorizer.transform([" ".join(input_words)])

In [32]:
similarities = cosine_similarity(input_vector, job_vectors)
top_indices = np.argsort(similarities[0])[-10:][::-1]
top_job_descriptions = df.loc[top_indices]
top_job_descriptions

,Job Title,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Competitors,Average Salary,Average Revenue,Processed_JD
177,Senior Data Analyst,4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",750.5,2010,Company - Private,Security Services,Business Services,-1,61.0000,300.0,"KnowBe4, Inc. high growth information security..."
259,Senior Data Analyst,4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",750.5,2010,Company - Private,Security Services,Business Services,-1,61.0000,300.0,"KnowBe4, Inc. high growth information security..."
30,Data Scientist,4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",750.5,2010,Company - Private,Security Services,Business Services,-1,85.0000,300.0,"KnowBe4, Inc. high growth information security..."
2,Data Scientist,4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",750.5,2010,Company - Private,Security Services,Business Services,-1,85.0000,300.0,"KnowBe4, Inc. high growth information security..."
321,MSP - Data & Analytics (DA),4.3,Daugherty Business Solutions,"Bloomington, MN","Saint Louis, MO",3000.5,1985,Company - Private,IT Services,Information Technology,-1,103.1539,300.0,"Overview lot organizations, hard stand out. Ev..."
317,Data Scientist,4.0,Novetta,"Herndon, VA","Mc Lean, VA",750.5,2012,Company - Private,Enterprise Software & Network Solutions,Information Technology,"Leidos, CACI International, Booz Allen Hamilton",143.0000,300.0,Are passionate solving challenging problems? t...
318,"Sr. Data Scientist, Cyber-Security LT Contract",3.2,"Numeric, LLC","Phila, PA","Chadds Ford, PA",25.5,-1,Company - Private,Staffing & Outsourcing,Business Services,-1,155.0000,7.5,SUMMARYSenior Data Scientist assist core Cyber...
319,Data Engineer,4.2,IZEA,"Winter Park, FL","Winter Park, FL",125.5,2006,Company - Public,Advertising & Marketing,Business Services,"Linqia, Collective Bias",71.5000,37.5,IZEA built connect world’s top brands influent...
320,Data Scientist,3.9,Trace Data,"Oakland, CA","Santa Ana, CA",125.5,2000,Company - Private,Insurance Carriers,Insurance,-1,108.0000,17.5,Trace Data developing ground breaking product ...
323,Digital Marketing & ECommerce Data Analyst,3.6,Vionic Group,"San Rafael, CA","San Rafael, CA",125.5,2006,Subsidiary or Business Segment,"Department, Clothing, & Shoe Stores",Retail,-1,51.5000,300.0,Digital Marketing eCommerce Data Analyst BEGAN...